<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">
    <div>
      <h3 class="display-4 font-weight-bold" id="memberName">Justin</h3>
    </div>
    <div id="role"><i class="fas fa-laptop-code"></i> Engineer</div>
  </div>
  <div class="card-body bg-dark">
    <div class="card text-dark" style="width: 15rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item font-weight-bold">
          ID:
          <div id="idNumber"></div>
        </li>
        <li class="list-group-item font-weight-bold">
          Email:
          <div id="email"></div>
        </li>
        <li class="list-group-item font-weight-bold">
          GitHub:
          <div id="github"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
